body{
    background-color: lightblue;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    width: 250px;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    border: 4px solid black;
}

input{
    width: 100%;
    padding: 7px;
}

button{
    background-color: lightblue;
    width: 60%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
}

button:hover{
    background-color: rosybrown;
    cursor: pointer;
}